<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>로그인</title>
    <%- include("./include/include",{title : "Login"}) %>
    <link rel="stylesheet" href="static/css/login.css" />
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  </head>
  <body>
    <div class="header"><%- include("./include/header") %></div>
    <div class="loginBox">
      <h2>로그인</h2>
      <form id="loginForm">
        <label for="userId">
          아이디: <input type="text" name="userId" id="userId" required /><br />
        </label>
        <label for="userPw">
          비밀번호:
          <input type="password" name="userPw" id="userPw" required />
        </label>
        <button type="submit">로그인</button>
      </form>
      <p>계정이 없으신가요? <a href="./register">회원가입</a></p>
    </div>
    <script defer src="/static/js/login.js"></script>
    <%- include("./include/footer") %>
  </body>
</html>
