<footer class="footer">
  <div class="container">
    <ul>
      <li>
        <a href="https://github.com/imujinu/Convenience-Sale" target="_blank">
          Pureut
          <img src="/static/image/git.png" alt="Git" />
        </a>
      </li>
      <li>
        <a href="https://github.com/imujinu" target="_blank">
          임진우
          <img src="/static/image/git.png" alt="Git" />
        </a>
      </li>
      <li>
        <a href="https://github.com/YENANOAH" target="_blank">
          한예나
          <img src="/static/image/git.png" alt="Git" />
        </a>
      </li>
      <li>
        <a href="https://github.com/yanjinlkham9" target="_blank">
          얀진람
          <img src="/static/image/git.png" alt="Git" />
        </a>
      </li>
      <li>
        <a href="https://github.com/projectCHOI" target="_blank">
          최윤석
          <img src="/static/image/git.png" alt="Git" />
        </a>
      </li>
      <li>
        <a href="https://github.com/digimonMania" target="_blank">
          김연준
          <img src="/static/image/git.png" alt="Git" />
        </a>
      </li>
    </ul>
    <div class="text">
      Copyright © 2024 Fun Pick Company 저작권법의 보호를 받습니다
    </div>
  </div>
</footer>
