<link rel="icon" type="image/png" href="static/image/favicon-32x32.png" />
<title><%= title %></title>

<!-- axios CDN -->
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

<!-- reset.css -->
<link
  href="https://cdn.jsdelivr.net/npm/resetcss@5.0.2/reset.min.css"
  rel="stylesheet"
/>
<!-- fontawsome CDN -->
<script
  src="https://kit.fontawesome.com/a2bddeb8f2.js"
  crossorigin="anonymous"
></script>
<!-- common css -->
<link rel="stylesheet" href="/static/css/common.css" />
<link rel="stylesheet" href="/static/css/root.css" />
<!-- header css -->
<link rel="stylesheet" href="/static/css/header.css" />
<!-- footer css -->
<link rel="stylesheet" href="/static/css/footer.css" />
<!-- footer js -->
<script defer src="/static/js/footer.js"></script>
<!-- header js -->
<script defer src="/static/js/header.js"></script>
