@import url("https://fonts.googleapis.com/css2?family=Gowun+Dodum&family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&display=swap");
@import url("./root.css");
* {
  font-family: "Gowun Dodum", serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: "Mungyeong-Gamhong-Apple";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/2410-2@1.0/Mungyeong-Gamhong-Apple.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}

#pick {
  font-family: "Mungyeong-Gamhong-Apple";
  font-style: italic;
  font-size: 38px;
  margin-right: 4px;
  color: var(--color-600);
}

body {
  background-color: #f9f9f9;
  font-size: 14px;
  color: #333;
}
a {
  text-decoration: none;
  color: #303030;
}
a:hover {
  text-decoration: underline;
}

li {
  list-style: none;
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}
