:root {
  --color-100: #fff0f3;
  --color-200: #ffccd5;
  --color-300: #ffb3c1;
  --color-400: #ff8fa3;
  --color-500: #ff758f;
  --color-600: #ff4d6d;
  --color-700: #c9184a;
  --color-800: #a4133c;
  --color-900: #800f2f;
  --color-1000: #590d22;
}
